*{
    font-family: 'Open Sans', 'sans-serif';
}
.header{
    background-image: url(images/banner/banner1.png);
    background-repeat: no-repeat;
}
.banner{
    display: block;
    text-align: right;
    margin-top: 100px;
    margin-left: 700px;
    margin-right: 100px;
    padding: 40px;
}
.bt{
    font-weight: bolder;
    font-size: 75px;
}
.bd{
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
    padding-left: 40px;
    margin-left: 40px;
}
.bp{
    color:#ffffff;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 10px;
    background-color: #fd6e0a;
}
.fail{
    background-image: url(images/person.png);
    background-position: left;
    background-repeat:no-repeat;
    margin-top: 200px;
    margin-left: 200px;
    margin-bottom: 200px;
    padding: 50px;
}
.fail2{
    display: block;
    margin-left: 600px;
    margin-right: 200px;
    margin-top: 300px;
    margin-bottom: 200px;
}
.of{
    font-weight: 700;
    font-size: x-large;
    padding-top: 10px;
    padding-bottom: 5px;
    align-items: center;
}
li{
    text-align: left;
    color: #757575;
}
.plan{
    text-align: center;
}
.kam{
    display: flex;
    gap: 30px;
    margin-left: 350px;
}
.kam2{
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    padding: 30px;
}
.i{
    color: #757575;
}
.watch{
    background-image: url(images/gradient3.png), url(images/watch.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 200px;
    text-align: left;
}
.mind{
    display: flex;
    font-size: x-large;
    font-weight: 800;
}
.bp2{
    color:#fd6e0a;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 10px;
    background-color: #ffffff;
}
.black{
    display: flex;
    background-color: rgb(31, 31, 31);
    color: white;
    padding: 100px;
}
.ft{
    padding-left: 150px;
}
li{
    color: white;
    list-style: none;
}
.P{
    text-align: left;
    padding-right: 300px;
}
.sub{
    padding-right: 200px;
}
input{
    background-color: rgb(31, 31, 31);
    margin-bottom: 24px;
    border: 0px;
    border-radius: 10px;
    width: 70%;
    padding: 20px;
}
.bp3{
    color:#fd6e0a;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 10px;
    background-color: #ffffff;
}
.email{
    padding-top: 20px;
    padding-bottom: 20px;
}
.phon{
    padding-bottom: 40px;
}
.icon{
    display: flex;
    gap: 15px;
}